body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1 {
    margin: 0;
    padding-top: 3rem;
    font-family: 'Parisienne', cursive;
    font-size: 7rem;
    line-height: 2;
    color: #66BFBF;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #11999E;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border: #AAAAAA 0.5rem;
    border-style: dotted none none;
    width: 10%;
    margin: 4rem auto;
}

.top {
    background-color: #CAF6F6;
    position: relative;
    padding-top: 10em;
    font-size: 0;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 3%;
    width: 15rem;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    width: 15rem;
}

.middle {
    width: 40%;
    margin: auto;
}

.img-random-dude {
    margin: 3rem;
}

.img-chillies {
    border-radius: 100%;
    float: left;
    margin-right: 2rem;
    width: 25%;
}

.img-computer {
    border-radius: 100%;
    float: right;
    margin-left: 2rem;
    width: 25%;
}

.skill-row {
    margin: 8rem  auto 8rem auto;
    text-align: left;
    line-height: 2;
}

.contact-me {
    margin: 8rem auto;
    line-height: 2;
}

.btn {
    background: linear-gradient(90deg, #11cdd4 0%, #11999e 100%);
    color: #EAF6F6;
    text-decoration: none;
    padding: auto;
    display: inline-block;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background: linear-gradient(90deg, #30e3cb 0%, #2bc4ad 100%);
}

.bottom {
    background-color: #66BFBF;
    padding: 3rem;
}

.footer-link {
    display: inline-block;
    padding: 1rem;
    margin-bottom: 2rem;
}

.copyright {
    color: #EAF6F6;
}